.header{
font-family: 'Inter';
font-style: normal;
}

h1 {
font-weight: 400;
font-size: 46px;
line-height: 56px;
    }   
h2 {
font-weight: 400;
font-size: 40px;
line-height: 48px;   
}
h3 {
font-weight: 400;
font-size: 34px;
line-height: 41px;    
}
h4 {
font-weight: 400;
font-size: 22px;
line-height: 27px;   
}
h5 {
font-weight: 400;
font-size: 22px;
line-height: 27px;   
    }
h6 {
font-weight: 400;
font-size: 22px;
line-height: 27px;   
}
p {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;    
}
hr {
border: 7px solid #656AF7;   
}
link {
font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 15px;
line-height: 18px;
color: #717DE6;    
}
link:hover {
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-decoration-line: underline;
color: #1DAC67;
}

link:visited {
font-family: 'Inter';
font-style: italic;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #E33813;
}
.button {
background: #46CDEB;
border-radius: 50px;
}
.button:hover {
background: #A5EEEE;
border-radius: 50px;
}
 
.button:visited {
background: #106BAD;
border-radius: 50px;   
}
ol {
font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #000000;
}

ul {
font-family: 'Mukta Vaani';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
       
}