

.header{
font-family: 'Inter';
font-style: normal;
}

h1 {
font-weight: 400;
font-size: 46px;
line-height: 56px;
text-align: center;
    }   

h2 {
font-weight: 400;
font-size: 40px;
line-height: 48px;   
text-align: center;
}

h3 {
font-weight: 400;
font-size: 34px;
line-height: 41px;    
margin: 20px;
padding: 20px;
}

h4 {
font-weight: 400;
font-size: 30px;
line-height: 27px;  
text-align: center; 
}
h5 {
font-weight: 400;
font-size: 22px;
line-height: 27px;   
    }
h6 {
font-weight: 400;
font-size: 22px;
line-height: 27px;   
}

p {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
}

hr {
border: 20px solid black;
margin-bottom: 200px;
margin-top: 168px;
}

a {
font-family: 'Inter';
font-size: 20px;
line-height: 18px;
color: #717de5;;    
margin: -20px;
}
a:hover {
font-family: 'Inter';
font-style: italic;
line-height: 18px;
text-decoration-line: underline;
color: #1DAC67;
}

a:visited {
font-family: 'Inter';
font-style: italic;
font-size: 10px;
line-height: 18px;
color:red;
}
.button {
background: #46CDEB;
border-radius: 50px;
}
.button:hover {
background: #A5EEEE;
border-radius: 50px;
}
 
.button:visited {
background: #106BAD;
border-radius: 50px;   
}
ol {
font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #000000;
}

ul {
font-family: 'Mukta Vaani';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
}

ol li{
font-size: 20px;
line-height: 50px;
padding: 20px;
}

ul li{
font-size: 20px;
padding: 20px;
}

nav {
    background-color: gray;
    padding: .5em;
    width: 100%;
    position: sticky;
    top: 0;
}

nav ul {
    font-size: 40px;
    margin: 5px;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
    
nav a {
        color: black;
        text-decoration: none;
        padding: .5em 1em;
}

img {
    max-width: 40%;
    height: auto;
    float: right;
    padding: 20px;
    margin: 20px;
}

.educationH {
text-align: center;
font-weight: 400;
font-size: 34px;
line-height: 41px;    
margin: 20px;
padding: 20px;
}

.nlink {
    font-family: 'Inter';
    font-size: 25px;
    line-height: 18px; 
    margin: auto;  
}


@media only screen and (max-width:700px)
{

    
h1{ 
    display: flex;
    font-size: 35px;
    justify-content: left;
}
h2 {
    top:0%;
    display: flex;
    font-size: 29px;
    align-items:flex-start;
}

img{
    max-width: 100%;
    height: auto;
    float: right;
}
nav {
    background-color:gray;
    padding: .5em;
    width: 32%;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
    
nav a {
     color: black;
     text-decoration: none;
     padding: .5em 1em;
     font-size: 15px;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.nlink {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 18px; 
    margin: auto;  
}

.educationH {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;    
    margin: 20px;
    padding: 20px;
    }
    }
